/* Add your custom extension styling here */
.label-1 {
    font-weight: normal;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 2px #000;
}
.label-2 {
    font-weight: normal;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 2px #000;
}
